include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
exclude tests/.coverage

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.mp4 *.svg
prune docs/_build/*

# added by check_manifest.py
include Pipfile
include *.lock
include Makefile
include tox.ini
