[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bump2version = "*"
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest-cov = "*"
Sphinx = "*"
twine = "*"
pytest = "*"
codecov = "*"

[packages]
inquirer = "*"
python-digitalocean = "*"
sshpubkeys = "*"
click = "*"
yaspin = "*"
colored = "*"

[requires]
python_version = "3.6"
