[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bump2version = "*"
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest-cov = "*"
Sphinx = "*"
twine = "*"
pytest = "*"
codecov = "*"
check-manifest = "*"

[packages]
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"
